#editor-container.col-md-10(data-bind="with: loadedProgram")
    div#streams(data-bind='foreach: { data: streams, afterAdd: afterAddStream }')
        .box.stream-container.text-center(data-bind='attr: { id: "stream" + id() }, style: { left: xpx, top: ypx }')
            div.stream-item(data-bind="css: streamClass")
                p(data-bind='text: name')
            .btn-group(data-bind='visible: menuVisible')
                button.btn.btn-default.btn-lg.stream-menu(
                    data-bind='visible: menuVisible && addable',
                    data-toggle="dropdown"
                )
                    span.glyphicon.glyphicon-flash
                button.btn.btn-default.btn-lg.stream-menu(
                    data-bind='visible: menuVisible && edittable, ' +
                              'click: $parent.editStream',
                    data-toggle="modal",
                    data-target="#edit-op"
                    )
                    span.glyphicon.glyphicon-pencil
                button.btn.btn-default.btn-lg.stream-menu(
                    data-bind='visible: menuVisible && $root.isRunning, ' +
                    'click: $parent.monitor',
                    data-toggle="modal",
                    data-target="#monitor"
                    )
                    span.glyphicon.glyphicon-eye-open
                button.btn.btn-danger.btn-lg.stream-menu(
                    data-bind='visible: menuVisible && deletable, ' +
                              'click: removeClicked'
                )
                    span.glyphicon.glyphicon-trash
                ul.dropdown-menu(data-bind="foreach: $root.availableOperations")
                    li(data-toggle="tooltip", data-placement="right", data-bind="attr: { title: $data.description }")
                        a(data-bind="text: $data.name, click: $parent.addOperation, attr: { dataType: $data.name }",
                          data-toggle='modal', data-target='#add-op')

    div(data-bind='foreach: { data: unaryoperations, afterAdd: afterAddUnaryOperation }')
        div.operation.hidden(
            data-bind='attr: { id: "operation" + id() }, ' +
                      'text: label'
            data-toggle='modal', data-target='#add-op'
        )
    div(data-bind='foreach: { data: naryoperations, afterAdd: afterAddNAryOperation }')
        .draggable.nary(
            data-bind='attr: { id: "operation" + id() }, ' +
                       'style: { left: xpx, top: ypx }'
        )
            p(data-bind='text: label')
