mixin form-group-options(id, label, options, value, optionsText, optionsCaption)
    .form-group
        label(for=id)= label
        select.form-control.list-group(
            id=id,
            data-bind='' +
            'options: #{options}, ' +
            'value: #{value}, ' +
            'optionsText: "#{optionsText}", ' +
            'optionsCaption: "#{optionsCaption}"'
        )

#add-op.modal.fade(role='dialog',tabindex="-1")
    .modal-dialog(role='document')
        .modal-content(data-bind="with: operatorModal")
            form(data-bind="submit: save")
                .modal-header
                    h4.modal-title(data-bind="text: action")
                .modal-body
                    .form-group
                        label(for='operator') Operator
                        select#operator.form-control.list-group(
                            data-bind='options: $root.availableOperators, value: selectedOperator',
                            disabled
                        )
                    .form-group
                        label(for='output-stream-name') Output stream name
                        input#output-stream-name.form-control(
                            type='text',
                            placeholder="Output stream name",
                            data-bind="value: outputStreamName"
                        )
                    <!-- ko if: name() == "map" || name() == "filter" -->
                    .well
                        .alert.alert-info This operator requires either a body to be implemented or a helper to be specified.
                        .form-group#form-lambda
                            label(for='field-lambda') Body
                            .input-group
                                span.input-group-addon
                                    input(type="radio", name="lambda", value="body", data-bind="checked: lambdaOption")
                                //.input-group-addon(data-bind="text: lambdaInput(), enable: lambdaActive")
                                input#field-lambda.form-control(
                                    type='text',
                                    placeholder="Body",
                                    data-bind="value: body, enable: lambdaOption() == \"body\""
                                )
                                //.input-group-addon(data-bind="text: lambdaOutput()")
                        .form-group#form-helper
                            label(for='field-helper') Helper
                            .input-group
                                span.input-group-addon
                                    input(type="radio", name="lambda", value="helper", data-bind="checked: lambdaOption")
                                select#field-helper.form-control.list-group(
                                    type='text',
                                    data-bind='options: $parent.helpers, ' +
                                    '          optionsText: "name", ' +
                                    '          value: selectedHelper, ' +
                                    '          enable: lambdaOption() == \"helper\"'
                                )
                    <!-- /ko -->
                    <!-- ko if: name() == "sample" -->
                    .form-group#form-rate
                        label(for='field-rate') Rate (msec)
                        input#field-rate.form-control(
                            type='number',
                            placeholder="Rate",
                            data-bind="value: rate"
                        )
                    <!-- /ko -->
                    <!-- ko if: name() == "subscribe" -->
                    .form-group#form-output-module
                        label(for='output-module') Output module
                        select#output-module.form-control.list-group(
                            data-bind='' +
                            'options: $parent.availableActuators, ' +
                            'optionsText: "name", ' +
                            'value: selectedOutputModule')
                    <!-- /ko -->
                .modal-footer
                    a.btn.btn-default(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit", data-binding="enable: isValid()") Save