mixin form-group-options(id, label, options, value, optionsText, optionsCaption)
    .form-group
        label(for=id)= label
        select.form-control.list-group(
            id=id,
            data-bind='' +
            'options: #{options}, ' +
            'value: #{value}, ' +
            'optionsText: "#{optionsText}", ' +
            'optionsCaption: "#{optionsCaption}"'
        )

#add-op.modal.fade(role='dialog',tabindex="-1")
    .modal-dialog(role='document')
        .modal-content(data-bind="with: operationModal")
            form(data-bind="submit: save")
                .modal-header
                    h4.modal-title(data-bind="text: action")
                .modal-body
                    .form-group
                        label(for='operation') Operation
                        select#operation.form-control.list-group(
                            data-bind='options: $root.availableOperationNames, value: selectedOperation',
                            disabled
                        )
                        //.alert.alert-info
                            p
                                b Description:&nbsp;
                                span(data-bind="text: description")
                            p
                                b Input:&nbsp;
                                span(data-bind="text: input")
                            p
                                b Output:&nbsp;
                                span(data-bind="text: output")
                    // ko if: name() === "combine" || name() === "merge"
                    .form-group
                        .input-group
                            label(for='add-input-stream') Input streams
                            select#add-input-stream.form-control(
                                data-bind="options: availableInputStreams, " +
                                          "optionsText: 'name'," +
                                          "value: selectedStreamToAdd"
                            )
                            span.input-group-btn
                                button.btn.btn-default(
                                    type="button",
                                    data-bind="click: appendItem, " +
                                              "enable: addInputStreamActive()"
                                )
                                    span.glyphicon.glyphicon-plus
                                    | Add
                        // ko foreach: inputStreams
                        .input-group
                            input.form-control(
                                disabled,
                                data-bind="value: $data.name"
                            )
                            span.input-group-btn
                                button.btn.btn-default(
                                    type="button",
                                    data-bind="click: $parent.removeItem"
                                )
                                    span.glyphicon.glyphicon-remove
                        // /ko
                    // /ko
                    // ko if: name() === "map" || name() === "filter" || name() === "combine"
                    .well
                        //.alert.alert-info This operation requires either a body to be implemented or a helper to be specified.
                        .form-group#form-lambda
                            label(for='field-lambda') Body
                            span &nbsp;Parameters:&nbsp;
                            span(data-bind="text: parameters")
                            .input-group
                                span.input-group-addon
                                    input(type="radio", name="helper", value="body", data-bind="checked: bodyOrHelper")
                                input#field-lambda.form-control(
                                    type='text',
                                    placeholder="Body",
                                    data-bind="value: body, enable: hasBody(), valueUpdate: 'afterkeydown'"
                                )
                                //.input-group-addon(data-bind="text: lambdaOutput()")
                        .form-group#form-helper
                            label(for='field-helper') Helper
                            .input-group
                                span.input-group-addon
                                    input(type="radio", name="helper", value="helper", data-bind="checked: bodyOrHelper")
                                select#field-helper.form-control.list-group(
                                    type='text',
                                    data-bind='options: $parent.helpers, ' +
                                    '          optionsText: "name", ' +
                                    '          value: selectedHelper, ' +
                                    '          enable: hasHelper()'
                                )
                                span.input-group-btn
                                    button.btn.btn-default.glyphicon.glyphicon-pencil(data-bind="click: $root.editHelperModal, enable: hasHelper()")
                    // /ko
                    // ko if: name() == "sample" || name() == "forgetAfter"
                    .form-group#form-rate
                        label(for='field-rate') Rate (msec)
                        input#field-rate.form-control(
                            type='number',
                            placeholder="Rate",
                            data-bind="value: rate, valueUpdate: 'afterkeydown'"
                        )
                    // /ko
                    // ko if: name() !== "subscribe"
                    // ko if: $root.nonSensorOrphans().length > 0 && !id()
                    //.alert.alert-info To connect to an orphaned stream, you can enter its name as output stream.
                    // /ko
                    // ko if: id()
                    //.alert.alert-info Changing the output stream name in this form will rename the output stream.
                    // /ko
                    .form-group
                        label(for='output-stream-name') Output stream name
                        input#output-stream-name.form-control(
                        type='text',
                        placeholder="Output stream name",
                        data-bind="value: outputStreamName, valueUpdate: 'afterkeydown'",
                        )
                    // /ko
                    // ko if: name() == "subscribe"
                    .form-group#form-output-module
                        label(for='output-module') Output module
                        select#output-module.form-control.list-group(
                            data-bind='' +
                            'options: $parent.availableActuators, ' +
                            'optionsText: "name", ' +
                            'value: selectedOutputModule')
                    // /ko
                .modal-footer
                    .row
                        .col-md-4.text-left
                            // ko if: id()
                            .btn.btn-danger(data-bind="click: removeOperation") Delete
                            // /ko
                        .col-md-8
                            a.btn.btn-default(data-dismiss="modal") Close
                            button.btn.btn-primary(type="submit", data-bind="enable: isValid()") Save
