#insert-actuator.modal.fade(role='dialog',tabindex="-1",data-bind="with: insertActuatorModal")
    .modal-dialog(role='document')
        .modal-content
            form(data-bind="submit: save")
                .modal-header
                    h4.modal-title(data-bind="text: action")
                .modal-body
                    .form-group
                        label(for='field-type') Type
                        input#field-type.form-control(
                        placeholder="Name",
                        data-bind="value: actuator.name()"
                        disabled
                        )
                    .form-group
                        label(for='field-name') Name
                        input#field-name.form-control(
                        placeholder="Name",
                        data-bind="value: name"
                        )
                    <!-- ko foreach: modalParameters -->
                    <!-- ko if: $data.type == 'list' -->
                    .row
                        .col-md-12
                            label(data-bind="attr: { " +
                            "for: 'field-'+ $data.name }, " +
                            "html: $data.name")
                            .input-group
                                input.form-control(
                                placeholder="Name",
                                data-bind="" +
                                  "attr: { id: 'field-' + $data.name }, " +
                                  "value: $data.currentItem, " +
                                  "valueUpdate: 'keyup', " +
                                  "event: { keyup: $data.enterKeyPressed }"
                                )
                                span.input-group-btn
                                    button.btn.btn-default(
                                        type="button",
                                        data-bind="click: $data.appendItem"
                                    )
                                        span.glyphicon.glyphicon-plus
                                        | Add
                        <!-- ko foreach: $data.value -->
                        .col-md-12
                            .input-group
                                input.form-control(
                                    placeholder="Name",
                                    data-bind="value: $data.value"
                                )
                                span.input-group-btn
                                    button.btn.btn-default(
                                        type="button",
                                        data-bind="click: $parent.removeListItem"
                                    )
                                        span.glyphicon.glyphicon-remove
                        <!-- /ko -->
                    <!-- /ko -->
                    <!-- ko if: $data.type == 'select' -->
                    .form-group(
                    data-bind="attr: { id: 'form-param-' + $data.name } "
                    )
                        label(for='select-joint', data-bind="text: $data.name")
                        select#select-joint.form-control(
                            data-bind="options: $data.options, " +
                            "value: $data.value"
                        )
                    <!-- /ko -->
                    <!-- ko if: $data.type == 'integer' -->
                    .form-group(
                      data-bind="attr: { id: 'form-param-' + $data.name } "
                    )
                        label.form-group(
                          data-bind="" +
                          "attr: { for: 'field-param-' + $data.name }," +
                          "html: $data.name "
                        )
                        input#field-rate.form-control(
                        type='number',
                        data-bind="value: $data.value, " +
                        "attr: { id: 'field-param-' + $data.name }"
                        )
                    <!-- /ko -->
                    <!-- ko if: $data.type == 'string' -->
                    .form-group(
                    data-bind="attr: { id: 'form-param-' + $data.name } "
                    )
                        label.form-group(
                        data-bind="" +
                        "attr: { for: 'field-param-' + $data.name }," +
                        "html: $data.name "
                        )
                        input.form-control(
                        type='text',
                        data-bind="value: $data.value, " +
                        "attr: { id: 'field-param-' + $data.name }"
                        )
                    <!-- /ko -->
                    <!-- /ko -->
                .modal-footer
                    a.btn.btn-default(data-dismiss="modal") Close
                    button.btn.btn-primary(type="submit", data-binding="enable: isValid()") Save